body{
    margin:0;
}

header{
    background: #03a9f4;
    text-align: center;
}

.logo{
    color:#fff;
    font-size:40px;
}

.newsitem{
    box-sizing:border-box;
    border-bottom: 1px solid grey;
    padding:5px;

}